.App {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: poppins, sans-serif;
}

h2 {
  color: #333;
  font-size: 1.5rem;
  margin-top: 20px;
}

div {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  width: 97%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

select {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

button:active {
  background-color: #1e7e34;
}
